<app-header></app-header>
<app-sidenav></app-sidenav>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" />
</head>

<body>
    <!-- change-password.component.html -->

    <div class="container">
        <div class="changelogin">
            <div class="box1">
                <div class="title">Change Password</div>
            </div>
            <form (ngSubmit)="updatePassword()" #passwordForm="ngForm">
                <div>
                    <label for="currentPassword">Old Password<span class="star">*</span></label>
                    <input type="password" id="currentPassword" name="currentPassword" class="textField"
                        [(ngModel)]="currentPassword" required>
                </div>
                <div>
                    <label for="newPassword">New Password<span class="star">*</span></label>
                    <input type="password" id="newPassword" name="newPassword" class="textField" required
                        [(ngModel)]="newPassword"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]).{8,}">
                    <div *ngIf="(passwordForm.submitted || isTouched(passwordForm.controls['newPassword'])) && passwordForm.controls['newPassword']?.hasError('required')"
                        class="error-message">
                        Password is required.
                    </div>
                    <div *ngIf="(passwordForm.submitted || isTouched(passwordForm.controls['newPassword'])) && passwordForm.controls['newPassword']?.hasError('pattern')"
                        class="error-message">
                        Password must contain at least one digit, one lowercase letter, one uppercase letter, and one
                        special character.
                    </div>
                </div>
                <div>
                    <label for="confirmPassword">Re-enter New Password<span class="star">*</span></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="textField" required
                        [(ngModel)]="confirmPassword">
                    <div *ngIf="(passwordForm.submitted || isTouched(passwordForm.controls['confirmPassword'])) && passwordsDoNotMatch()"
                        class="error-message">
                        Passwords do not match.
                    </div>
                </div>
                <div class="button-container">
                    <button type="button" class="cancel-btn" (click)="cancelUpdate()">Cancel</button>
                    <button type="submit" class="update-btn"
                        [disabled]="!passwordForm.valid || passwordsDoNotMatch()">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>