<!-- password-reset.component.html -->
 
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>To Self Account 3</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" />
</head>
<div *ngIf="isTokenValid" >
    <div class="background-image">
        <div class="center-box">
            <form (ngSubmit)="validatePassword()" #passwordForm="ngForm" class="password-reset-form">
 
                <p class="password-reset-jat">Reset Password</p>
 
                <input type="hidden" name="Token" [ngModel]="passwordToken">
 
                <label for="newPassword">New Password<span class="star">*</span></label>
                <input type="password" id="newPassword" name="newPassword" required ngModel #newPassword="ngModel"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]).{8,}$">
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error-message">
                    <div *ngIf="newPassword.errors?.['required']">Password is required.</div>
                    <div *ngIf="newPassword.errors?.['pattern']">Password must contain at least one digit, one lowercase
                        letter, one uppercase letter, and one special character.</div>
                </div>
 
                <label for="confirmPassword">Re-enter New Password<span class="star">*</span></label>
                <input type="password" id="confirmPassword" name="confirmPassword" required ngModel
                    #confirmPassword="ngModel">
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                    class="error-message">
                    <div *ngIf="confirmPassword.errors?.['required']">Confirmation is required.</div>
                    <div *ngIf="confirmPassword.errors?.['passwordMismatch']">Passwords do not match.</div>
                </div>
 
                <p id="passwordError" *ngIf="passwordForm.submitted && !passwordForm.valid">
                    Passwords do not match
                </p>
 
                <button class="Submit" type="submit" id="submitBtn" [disabled]="!passwordForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>