<!-- forgot-password.component.html -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>To Self Account 3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500" />
</head>
 
<div class="background-image">
 
    <br><br><br><br>
    <div class="forget-pass-container">
   
      <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()">
        <p class="forget-pass-jat" id="1:98">Forgot Password?</p>
   
        <div class="frame-213-exk" id="1:99">
          <p class="we-will-send-your-user-id-to-your-registered-e-mail-id-once-the-below-details-are-verified-c8t" id="1:100">
            We will send you a password reset link to your registered E-mail Id once the below details are verified.
          </p>
        </div>
   
        <div class="form-group">
          <label for="customerId">Customer ID<span class="star">*</span></label>
          <input type="number" id="customerId" formControlName="customerId" required (input)="limitTo8Digits($event)"/>
          <!-- <div *ngIf="customerIdControl?.hasError('required')">Customer ID is required</div> -->
          <div *ngIf="customerIdControl?.hasError('pattern')" class="error-message">Customer ID should contain only numbers up to 8 digits</div>
        </div>
     
        <div class="form-row">
          <label for="dob">Date of Birth<span class="star">*</span></label>
          <input type="date" id="dob" formControlName="dob" [max]="getCurrentDate()">
          <div *ngIf="shouldShowError('dob') && (forgetPassForm.get('dob')?.hasError('required') || (resetLinkSent && !forgetPassForm.get('dob')?.value))">Date of Birth is required</div>
        </div>
     
        <div class="form-row">
          <label for="panNumber">PAN Number<span class="star">*</span></label>
          <input type="text" id="panNumber" formControlName="panNumber" maxlength="10" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" required>
          <div *ngIf="shouldShowError('panNumber') && (forgetPassForm.get('panNumber')?.hasError('required') || (resetLinkSent && !forgetPassForm.get('panNumber')?.value))"class="error-message">PAN Number is required</div>
          <div *ngIf="shouldShowError('panNumber') && forgetPassForm.get('panNumber')?.hasError('pattern')" class="error-message">Invalid PAN number format</div>
        </div>
     
        <div class="form-row">
          <label for="phone">Phone No<span class="star">*</span></label>
          <input type="number" id="phone" formControlName="phone" required pattern="[0-9]{10}" maxlength="10">
          <div *ngIf="shouldShowError('phone') && (forgetPassForm.get('phone')?.hasError('required') || (resetLinkSent && !forgetPassForm.get('phone')?.value))" class="error-message">Phone No is required</div>
          <div *ngIf="shouldShowError('phone') && forgetPassForm.get('phone')?.hasError('pattern')" class="error-message">Phone No must be exactly 10 digits</div>
        </div>
       <br>
     
        <router-outlet></router-outlet>
     
        <div class="frame-215-hmv" id="1:114">
          <div class="secondary-action-button-qt8" id="1:115" type="button" (click)="goBack()">Back</div>
          <div class="primary-action-button-WjN" id="1:116" type="submit" (click)="onSubmit()">Submit</div>
        </div>
     
        <div *ngIf="resetLinkSent" class="success-message">Reset link has been sent to registered emailID</div>
      </form>
    </div>
   
    </div>